*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}
header {
    background: url(./assets/Rectangle.png);
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    color: #fff;
}
nav h2{
    text-transform: lowercase;
}
nav ul{
    display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  font-size: 12px;
}
.nav-btn {
    border: solid 1px white;
    padding: 8px;
    text-transform: uppercase;
    font-size: 10px;
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.section-one {
    width: 500px;
    padding: 40px 50px;
    color: white;
}
h3 {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 28px;
}
.thin-box {
    width: 35px;
    background-color: white;
    height: 5px;
    margin-bottom: 10px;

}
.section-one p {
    margin-bottom: 20px;
    font-size: 14px;
    width: 350px;
}
.two{
    width: 30%;
    background-color: white;
    color: #039785;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 2px;
}
.left-box {
    display: inline-flex;
    color: white;
    margin-left: 40px;
    margin-bottom: 20px;
}
.calendar {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.numbers {
    display: flex;
}
.big{
    font-size: 24px;
}
.small{
    font-size: 10px;
}
.calendar-box {
    display: flex;
    align-items: center;
    font-size: 12px;
}
.progress {
    width: 55px;
    background-color: white;
    height: 4px;
    margin: 5px;
}
.section-two {
    background-image: url(./assets/contact_map.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    
}
article {
    flex-direction: column;
    display: inline-flex;
}
article h3 {
    font-size: 20px;
    letter-spacing: 0.1rem;
}
article p {
    font-size: 10px;
    margin-bottom: 20px;
}
.text-btn {
    text-transform: uppercase;
    font-size: 14px;
    background-color: #039785;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    height: 40px;
    width: 80%;
}
.card {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 6%);
}
.card-title {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
}
.card-pic img {
    border-radius: 4px;
    width: 150px;
}
.card-text {
    font-size: 10px;
    color: grey;
}
.card-pic {
    display: flex;
    justify-content: center;
}
.wavy {
    background-image: url(./assets/wavy.svg);
    background-position: 50%;
    background-size: cover;
    height: 100px;
    width: 100%;
}
.top {
    background-color: #f2f8f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
.top a {
    color:black;
    text-transform: uppercase;
    font-size: 10px;
}
.traveler {
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0.1rem;
}
.travel {
    font-size: 12px;
    color: grey;
}
.middle {
    display: flex;
    padding: 0px 30px;
    background-color: #f2f8f7;
    overflow: hidden;
}
.reviews {
    margin: 0px 20px;
}
.header {
    display: flex;
    justify-content: space-between; 
    background-color: white;      
}
.person {
    display: flex;
    margin: 10px;
}
.person img {
    width: 30px;
    
}
.person-details {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}
.person-name {
    font-size: 10px;
}
.rating {
    display: flex;
}
.rate {
    font-size: 10px;
}
.stars {
    display: flex;
    margin-left:3px;
}
.stars img {
    width: 10px;
}
.ent-btn {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #039785;
    font-size: 6px;
    color: black;
    letter-spacing: 1px;
    background-color: white;
    height: 20px;
    margin: 10px;
    padding: 5px;
}
.footer {
    background-color: #94a8a5;
    display: flex;
    justify-content: space-between;
}
.place {
    color: black;
}
.price {
    color: black;
}
.place img {
    width: 10px;
}
.footer {
    font-size: 8px;
    padding: 10px;
}
.bottom {
    display: flex;
    justify-content: flex-end;
    background-color: #f2f8f7;
    padding: 20px;
}
.arrow-left {
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
    align-items: center;
    border: 1px solid #039785;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    padding: 2px;
    cursor: pointer;
}
.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #039785;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 2px; 
    cursor: pointer;
}
.section-four {
    background-image: url(./assets/contact_map.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.vid-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 20px;
}
.video {
    padding: 8px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}
.vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-circle {
    background-color: hsla(0,0%,80%,.6);;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 35%;
}
.play {
    background: #fff;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.piece-head {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 2px;
}
.piece-pg{
    font-size: 10px;
    margin-bottom: 20px;
    line-height: 15px;
}
.piece {
    padding: 10px 10px 10px 30px;
}
.learn-btn{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #039785;
    padding: 5px;
    border-radius: 2px;
    height: 40px;
    width: 70%;
    font-size: 12px;
}
.section-five {
    background-color: #f2f8f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.section-five h2 {
    letter-spacing: 1px;
    word-spacing: 2px;
    padding: 20px;
    font-size: 22px;

}
.start-plan {
    width: 12%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: capitalize;
    align-items: center;
    background-color: white;
    color: #039785;
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}
.section-five p {
    font-size: 8px;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccede9;    
}
footer {
    padding: 40px;
}
.company h3{
    font-size: 12px;
}
.company li {
    font-size: 10px;
    line-height: 20px;
}
.company p {
    font-size: 10px;
}
.address p{
    font-size: 10px;
    margin-bottom: 40px;
}
.logo {
    width: 150px;
    margin-bottom: 10px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.socials {
    display: flex;
    width: 80px;
    height: 15px;
    justify-content: space-between;
}
.company input {
    font-size: 8px;
    height: 25px;
    margin-top: 20px;
    padding: 10px;
    border: 1px hsla(0,0%,50%,.6) solid;
    width: 160px;
    border-radius: 2px;
}
.email {
    display: flex;
    align-items: center;
    position: relative;
}
.email img {
    left: 80%;
    top: 60%;
    position: absolute;
    width: 12px;
    cursor: pointer;
}
.footer-end {
    padding: 30px;
    text-align: center;
    color:hsla(0,0%,0%,.6) ;
    font-size: 12px;
    line-height: 21px;
}

/* MEIDA QUERIES */

/* Tablets */
@media screen and (max-width:780px){

    nav {
        width: 100%;
        padding: 10px 50px;
    }
    nav ul {
        width: 40%;
        font-size: 16px;
        display: none;
    }
    
    .nav-btn:hover{
        background-color: white;
        color: #039785;
    }
    .section-two {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article h3 {
        font-size: 24px;
    }
    article p{
        font-size: 16px;
    }
    .text-btn {
        width: 100%;
        font-size: 16px;
    }
    .card{
        margin-top: 20px;
        align-items: center;
    }
    .card-pic {
        width: 100%;
    }
    .card-pic img {
        width: 100%;
    }.card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 16px;
        margin: 10px;
    }
    .piece-head {
        font-size: 24px;
    }
    .traveler {
        font-size: 28px;
    }
    .travel {
        font-size: 14px;
    }
    .top {
        padding: 30px 30px 30px 50px;
    }
    .top a {
        font-size: 14px;
    }
    .middle {
        overflow: scroll;
        padding: 10px;
    }
    .piece-pg {
        font-size: 14px;
    }
    .learn-btn {
        font-size: 14px;
    }
    .section-five h2 {
        font-size: 26px;
    }
    .section-five p {
        font-size: 14px;
    }
    .start-plan {
        font-size: 20px;
        width: 30%;
    }
    .footer {
        padding: 0 ;
    }
    .footer-main {
        padding: 10px;
    }
    .address p {
        font-size: 12px;
    }
    .company h3 {
        font-size: 15px;
    }
    .company li {
        font-size: 12px;
    }
    .subscribe h3 {
        font-size: 15px;
    }
    .company p {
        font-size: 12px;
    }
    .company input {
        font-size: 10px;
        width: 100%;
    }
    .email img {
        left: 90%;
    }
    .footer-end {
        font-size: 16px;
    }
    .socials {
        width: 60%;
        height: 20%;
    }
}

/* Mobile  */
@media screen and (max-width:400px){

.footer-main {
    flex-direction: column;
}
.address {
    margin-bottom: 20px;
}
.company {
    margin-bottom: 20px;
}
.company input {
    font-size: 10px;
    width: 70%;
}
.email img {
    left: 65%;
}
.socials {
    width: 40%;
    height: 15%;
}
.subscribe h3 {
    font-size: 20px;
}
.company p {
    font-size: 16px;
}
.address p {
    font-size: 16px;
}
.company h3 {
    font-size: 20px;
}
.company li {
    font-size: 16px;
}
.section-five h2 {
    font-size: 20px;
}
.start-plan {
    font-size: 20px;
    width: 40%;
}
.video {
    width: 70%;
}
.video-circle {
    top: 25%;
    left: 30%;
}
.vid-section {
    width: 100%;
    flex-direction: column;
}
.piece {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.piece-head{
    font-size: 28px;
}
.piece-pg {
    font-size: 15px;
}
.learn-btn {
    font-size: 16px;
    width: 80%;
}
.traveler {
    font-size: 20px;
    letter-spacing: normal;
}
.travel {
    font-size: 12px;
}
.top {
    padding: 10px;
}
.top a {
    font-size: 12px;
}
.middle {
    padding: 10px;
    overflow: scroll;
}
.reviews {
    margin: 0;
    margin-right: 20px;
}
.card {
    width: 70%;
}
.card-title{
    font-size: 16px;
}
.card-text {
    font-size: 12px;
}
.header {
    width: 100%;
}
.section-one {
    width: 100%;
}
nav {
    padding: 20px;
}
nav h2 {
    font-size: 30px;
}
nav li {
    font-size: 10px;
    margin: 5px;
}
nav ul {
    display: none;
    align-items: center; 
    width: 20%;   
}
.section-one {
    padding: 20px;
}
.section-one h3 {
    font-size: 24px ;
}
.two {
    width: 35%;
}
.left-box {
    margin: 20px;
}
}